# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Auth
JWT_SECRET=
APP_URL=http://localhost:3000

# Mapbox
NEXT_PUBLIC_MAPBOXGL_API_KEY=
NEXT_PUBLIC_MAPBOX_GEOCODING_API_KEY=

# Affiliate banner
NEXT_PUBLIC_PIXEL_TRACKING_URL_1=
NEXT_PUBLIC_AFFILIATE_LINK_1=
NEXT_PUBLIC_IMAGE_1=

# Script-only variables
SUPABASE_URL=
SUPABASE_KEY=
GEOJSON_PATH=
MAPBOX_API_KEY=
