NEXT_PUBLIC_MAPBOXGL_API_KEY=mapboxgl_api_key
NEXT_PUBLIC_SUPABASE_ANON_KEY=supabase_anon_key
NEXT_PUBLIC_SUPABASE_URL=supabase_url

NEXT_PUBLIC_PIXEL_TRACKING_URL_1=pixel_tracking_url_1
NEXT_PUBLIC_AFFILIATE_LINK_1=affiliate_link_1
NEXT_PUBLIC_IMAGE_1=image_1